body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.header-content {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 30px 0px;
}

.header-placeholder {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

a {
    text-decoration: none;
}