body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Raleway';
    min-width: max-content;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.header, .footer {
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.hero-content {
    display: flex;
    /* justify-content: center; */
    margin: 100px 0px;
    gap: 50px;
}

.hero-placeholder {
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.hero-text .main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.information .heading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 40px;
}

.card-container {
    display: flex;
    gap: 60px;
}

.info-placeholder {
    border: 3px solid #3b82f6;
    border-radius: 16px;
    height: 160px;
    width: 160px;
    margin-bottom: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-text {
    max-width: 800px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    justify-self: center;
    padding-top: 24px;
}

.quote-author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
}

.action-section {
    display: flex;
    justify-content: center;
    padding: 96px;
}

.action-call {
    display: flex;
    justify-content: space-between;
    background-color:#3882F6;
    border-radius: 8px;
    padding: 48px 96px;
    min-width: 750px;
}

.action-text {
    color: #F9FAF8;
}

.action-text .main {
    font-weight: 700;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 36px;
}

.footer .text {
    color: #F9FAF8;
    font-size: 18px;
}

button {
    background: #3882F6;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

button.action {
    border: 3px solid #F9FAF8;
}

a {
    text-decoration: none;
    color: #a4a9b0;
}